<h1>{{titlePage}}</h1>
<form *ngIf="!loggedIn">
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="email" name="email" value="duck@duckduck.com"/>
    <label for="password">Password</label>
    <input type="text" id="password" [(ngModel)]="password" name="password"/>
    <button (click)="logIn(email,password)">Log In</button>
  </form>
  <div *ngIf="loggedIn">
    <button (click)="logOut()">Logout</button>
  </div> 



<app-search (searchString)="setPastries($event)"></app-search>
<ul *ngIf="pastries" class="list-inline">
    <li class="list-inline-item" *ngFor="let pastry of finalPastries" appBorderCard="red" [@change]="animation">
        <p>Patisserie</p>
        <span class="badge badge-info">{{ pastry.id }}</span> {{ pastry.name }} - {{pastry.quantity}}
        <span *ngIf="pastry.like"> - {{pastry.like}} -</span>
        <span *ngFor="let tag of pastry.tags">{{tag}} </span>
        <button (click)="onSelect(pastry)">Selectionner</button>
    </li>
</ul>

<app-paginate 
[current]="current"
[itemsPerPage]="itemsPerPage"
[totalItems]="totalItems"
(pageChanged)="onPageChange($event)"
></app-paginate>

<div class="col-sm-4 video" *ngIf="selectedPastry">
    <app-pastry-details [pastryId]="selectedPastry" ></app-pastry-details>
</div>